<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit Wishlist {{wishlist.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="products" ng-repeat="product in wishlist.products" track by $index>
            <div class="row row-wrapper">
                <div  class="col-lg-5">{{product.name}}</div>
                <div class="col-lg-2 delete" ng-click="removeProduct($index)">Remove</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="editWishlist()">Edit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>