<div class="container">

  <form name="loginForm" ng-submit="login()" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">Username</label>
    <input ng-model="user.username" type="text" id="username" class="form-control" placeholder="Username"
           required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required="">

    <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>
